body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(159, 159, 159)
}

h1 {
    color: blue;
}

/* Attribute Selector */
a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}

/* Child Selector */
ul > li {
    font-weight: bold;
}

/* Sibling Selector */
h1 + p {
    background-color: red;
    padding: 10px;
    border-radius: 5px;
}

/* :hover Pseudo-class */
ul li:hover {
    color: red;
}

/* :nth-child(n) Pseudo-class */
ul li:nth-child(3) {
    text-decoration: underline;
}

/* :not(selector) Pseudo-class */
p:not(:first-of-type) {
    text-decoration: underline;
}

/* ::before Pseudo-element */
ul li::before {
    content: "🚀 ";
}

/* ::after Pseudo-element */
a::after {
    content: " ✨"
}

/* ::first-letter Pseudo-element */
p::first-letter {
    font-size: 200%;
    color: blue;
}